@import "bourbon";

$hpadding: 5px;
$vpadding: 5px;
$padding: $vpadding $hpadding;
$vmargin: 5px;
$vmargin-large: 15px;

body {
  background-color: white;
  font-size: 16px;
  border: 0;
  margin: 0;
  padding: $vpadding $hpadding;
  font-family: Helvetica Neue, Helvetica, Sans Serif;
}

h1, h2, h3, h4, h5 {
  font-size: 16px;
  border: 0;
  margin: $vmargin 0;
}

#content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  @include button;
}

h1 {
  font-size: 25px;
}

ul {
  margin: 0;
  padding: 0;
}

.file-block {
  border: solid 1px #999;
  margin-bottom: $vmargin-large;
  h3 {
    margin: 0;
    font-size: 18px;
    border-bottom: solid 1px #999;
    padding: $padding;
    .file-controls {
      float: right;
      li {
        float: left;
        a {
          font-size: 12px;
          text-decoration: none;
        }
      }
    }
  }
  .content-wrapper {
    background-color: #eee;
    padding: $padding;
    .file-contents {
      background-color: white;
      border: solid 1px #aaa;
      padding: $padding;
    }
    .controls {
      @include clearfix;
      .button {
        float: right;
      }
      a.cancel {
        float: right;
        font-size: 12px;
        margin-top: 8px;
        margin-right: 5px;
      }
    }
  }
}

.edit-file-form {
  width: 100%;
  margin: 0;
  textarea {
    width: 100%;
    height: 50px;
    margin-bottom: $vmargin;
  }
}


.repo-controls {
  margin-top: $vmargin;
}
