@import "bourbon";
@import "reset";
@import "common";

.file-block {
  border: solid 1px #999;
  margin-bottom: $vmargin-large;
  h3, .header {
    @include clearfix;
    margin: 0;
    font-size: 18px;
    border-bottom: solid 1px #999;
    padding: $padding;
    .delete-button {
      @include button(pill, #eee);
      float: right;
    }
    .file-controls {
      float: right;
      li {
        float: left;
        a {
          font-size: 12px;
          text-decoration: none;
        }
      }
    }
  }
  .content-wrapper {
    background-color: #eee;
    padding: $padding;
    .file-contents {
      background-color: white;
      border: solid 1px #aaa;
      padding: $padding;
      min-height: 150px;
    }
    .controls {
      @include clearfix;
      .button {
        float: right;
      }
      a.cancel {
        float: right;
        font-size: 12px;
        margin-top: 8px;
        margin-right: 5px;
      }
    }
  }
}

.edit-repo-form {
  width: 100%;
  margin: 0;
  textarea {
    width: 100%;
    min-height: 150px;
    max-height: 350px;
    margin-bottom: $vmargin;
  }
}

.repo-controls {
  margin-top: $vmargin;
}

ul.revisions {
  li {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: solid 1px #ccc;
  }
}
