<h1><%= realm.name %></h1>

<h2><%= repo_name %></h2>

<div class="file-block">
  <form class="edit-file-form" action="<%= save_url %>" method="POST">
    <h3>File name: <input type="text" name="name" /></h3>
    <div class="content-wrapper">
      <textarea name="text"></textarea>
      <div class="controls">
        <input class="button" type="submit" value="Save" />
        <a class="cancel" href="<%= url("/#{realm.name}/#{repo_name}") %>">cancel</a>
      </div>
    </div>
  </form>
</form>
