<div class="file-block new-blob">
  <div class="header">
    <input type="text" name="name" placeholder="Name this file" value="" />
    <span class="delete-button">X</span>
  </div>
  <div class="file-content-wrapper">
    <textarea name="text"></textarea>
  </div>
</div>

