<h1>Git Editor</h1>

<% if projects.empty? %>
  <p>You have no projects yet. Create one below.</p>
<% else %>
  <p>Your projects:</p>
  <ul class="styled-select-list">
    <% projects.each do |project| %>
      <li><a href="<%= project_path(project) %>"><%= project.name %></a></li>
    <% end %>
  </ul>
<% end %>

<form action="<%= new_project_path %>" method="POST">
  <input type="text" name="name" />
  <input class="button" type="submit" value="Create"></input>
</form>

